.form {
    margin-top: $gutter - 20px;

    input, #inputComment {
        background-color: $form-gray;
        padding: 23px;
        border: #e5e5e5;
        color: $copy-color;
    }

    #inputComment {
        min-height: 200px;
    }

    button {
        font-family: $museo;
        font-size: 20px;
        background: none;
        border: none;
        margin-top: $gutter - 30px;
        padding: 0px;
        color: $blue;
    }
}

.marker {
    background-image: url('../images/logo-icon.png');
    background-size: cover;
    width: 18px;
    height: 28px;
    cursor: pointer;
}

.icon-map {
    width: 75px;
    position: absolute;
    top: $gutter;
    left: $gutter;
    z-index: 1;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: $teal;
}