section.height-feed {
	height: auto;
	background: linear-gradient(to right, $blue 20%, $teal 80%);
    background-color: $teal;
    z-index: 4;
    overflow: hidden;
	position: relative;

	.feed-left {
		background-color: $dark-blue;
		height: auto;

		.feed-sidebar {
			padding: 73px 60px;
			
			ul {
				list-style: none;
				margin: 0px;
				margin-top: $gutter - 20px;

				li {
					margin-bottom: 18px;
				}
				a {
					font-family: $museo;
					font-size: 24px;
					color: white;
					cursor: pointer;
					&:hover {
						color: rgba(255,255,255,0.5)!important;
					}
					&.active {
						color: $teal;
					}
				}
			}
			
		}
	}

	.feed-right {
		background-color: $teal;	
	}

	.team-feed {
		padding: 73px 75px 60px 60px;

		.team-feed-profile {
			text-align: center;
			color: $blue;

			a {
				font-family: $bebas;
				letter-spacing: 4px;
				color: white;

				&:hover {
					color: $blue!important;
				}
			}
		}

		.team-feed-copy {
			max-height: 437px;
			min-height: 437px;
			h1 {
				font-size: 50px;
				color: white;
				margin-top: $gutter - 20px;
				margin-bottom: $gutter;
			}
			
			.height-tags {
				float: left;
				display: block;

				.height-tag {
					background-color: #62bee4;
					color: $blue;
				}
			}

			.team-feed-nav {
				float: right;
				display: block;

				img {
					width: 36px;
					margin-right: 20px;
				}

				a {
					opacity: 0.5;
					transition: all 500ms ease-in-out;

					&:hover {
						opacity: 1;
					}
				}

				.icon_forward {
					transform: rotate(180deg);
				}

			}

		}

	}
}

	
	


	.background-enter {
		transform: translate(100%);
		opacity: 0;
	}

	.background-enter.background-enter-active {
		transform: translate(0%);
		transition: all 400ms ease-in-out 400ms;
		opacity: 1;
	}

	.background-exit {
		transform: translate(0%);
		opacity: 1;
		transition: all 400ms ease-in-out 400ms;
	}

	.background-exit.background-exit-active {
		transform: translate(100%);
		opacity: 0;
		transition: all 400ms ease-in-out;
	}