.page-team-name {
    text-align: center;
    margin-top: 40px;

    h3 {
        color: $blue!important;
    }

    h4 {
        text-align: center;
        color: $copy-color;
        font-family: $bebas;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 25px;
        margin-bottom: 20px;
    }
}

.page-team-sidebar-image {

        border-radius: 1000px;
        
        width: 235px;
        height: 235px;
        transition: all 500ms ease-in-out;
        margin-bottom: 24px; 
        overflow: hidden;

        &:before {
            content: '';
            background: $teal url('../images/icon_team.png') no-repeat center;
            background-size: $gutter;
            padding: 73px;
            position: absolute;
            width: 235px;
            height: 236px;
            background-color: $teal;
            border-radius: 1000px;
            transition: all 400ms ease-in-out;
            opacity: 0;
        }

            &:hover:before {
                opacity: 1;
            }
    
}

.page-team-social-icons {
    width: 82;
    text-align: center;
    margin-bottom: $gutter;

    img {
        height: 36px;
        width: 36px;
        margin-bottom: 0px;
    }
    
    a {
        margin-right: 10px;
        opacity: 0.5;
        transition: all 500ms ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

.page-team-quote {
    padding-top: 20px;
    border-top: 1px solid $borderonwhite;
}

.page-related-profiles {
    padding: $gutter/2 $gutter!important;
}