@media (min-width: 1360px) {
	.container {
		max-width: 1221px!important;
	}

	section.top {
		padding: 0 210px!important;
	}

	section.top .heading.second-heading {
		right: 298px;
	}

	.branding-color {
		margin: 354px 215px 0px 0px!important;
	}
}

/* Landscape phones and down */
@media (max-width: 767px) { 

    /* Typography */

    p {
        font-size: 18px!important;
        line-height: 30px!important;
    }

    h1 {
        font-size: 30px!important;
        line-height: 37px!important;
    }

    /* Nav Sidebar */

    .bm-item-list {
        padding: 90px;
        
        .menu-item {
            font-size: 30px;
        }
    }

    /* Home Page Mobile */

    .navbar {
        width: 60px!important;
    }

    .scroll-icon {
        left: 45%!important;
    }

    .bm-burger-button {
        width: 35px!important;
        height: 35px!important;
        right: 13px!important;
    }

    .skip-icon {
        width: 35px!important;
        right: 12px!important;
        .skip-label {
            font-size: 13px;
        }
    }

    #home-page section {
        border-right: 60px solid $teal;
    }
    
    #top-scroll {
        border-right: 60px!important;
        padding: 0px 40px!important;
        height: 2674px!important;

        h1 {
            font-size: 25px!important;
            line-height: 1.3!important;
        }

        .heading {
            padding: 146px 0px 200px 0px !important;
            width: 68%!important;

            &.second-heading {
                right: 100px!important
            }
            
        }

        .circular-heading {
            width: 800px!important;
            max-width: 800px!important;
            border-right: 60px solid $teal !important;
        }

        .branding-color {
            width: 250px;
            margin: 150px 43px 0px 0px;
            float: right;
        }

        #fourthHeading {
            width: 252px;
            left: 43px;
            h4 {
                line-height: 22px;
            }
        }

        

    }

    
    .par-bridge {
        width: 920px !important;
        top: 1920px!important;
        left: -190px;
    }

    .monument-height {
        z-index: 2;
        position: absolute !important;
        top: 2175px;
    }

    .height-position {  
        top: 11px!important;
        span {    
            width: 50px!important;
            padding: 10px 0px!important;
        }  
    }


    section.cta { 
        .cta-right {
            order: 1;
            padding: 0px 40px;

            h1 {
                font-size: 30px!important;
            }
        }

        .cta-left {
            order: 2;
            
            .cta-links {
                padding-left: 30px;
                margin-top: 30px;
            }

            .cta-link {
                margin-left: 30px;
            }
        }
    }

    section.height-feed {
        .feed-left {
            .feed-sidebar {
                padding: 73px 30px!important;
            }
        } 

        .feed-right {
            .team-feed {
                padding: 73px 30px 60px 30px;

                .team-feed-copy {
                    max-height: 330px;
                    min-height: 330px;
                }
                h1 {
                    font-size: 25px!important;
                    line-height: 32px!important;
                }
            }
        }
    }

    .height-press-releases {
        padding: $gutter 0px!important;
        
        .height-press-featured {
            padding: 0px 45px!important;

            h3 {
                font-size: 25px;
                line-height: 32px;
            }
        }

        .height-press-executive {
            margin-top: $gutter!important;
            padding: 0px 45px!important;

            .executive-featured-image {
                height: auto;
                margin-bottom: $mobile-gutter;
                margin-left: -45px;
                margin-right: -45px;
            }
            .exec-subtitle {
                top: 40px !important;
                font-size: 16px !important;
                padding-left: 43px !important;
            }

            .exec-title {
                top: 61px;
                font-size: 30px;
                left: -15px;
            }
        }
    }

    footer {
        .footerlinks {
            text-align: center;
            padding: 0px;

            li {
                border: 0px;
                width: 100%;
                display: flex;
                justify-content: center;

                a {
                    font-size: 15px!important;
                }

                p {
                    margin-top: 0px;
                }

            }
        }
        
        p {
            margin-top: $mobile-gutter;
            font-size: 15px!important;
        }
    }

    /* Page Responsive */

    .page-header {
        padding: $gutter 0px;
        height: 476px!important;

        h1 {
            font-size: 25px!important;
        }

        .page-header-text {
            padding-left: 45px;

            header.bebas {
                padding: 0px 0px 10px 0px;
                font-size: 15px;
            }
        }
        .page-circular-header {
            top: 460px;
            border-right: $mobile-gutter*2 solid $teal;

            img {
                margin-left: 80%;
            }
        }
    }

    .page-content {
        border-right: $mobile-gutter*2 solid $teal!important;
        padding: $gutter 0px;
        
        .page-link-container {
            padding: 0px $mobile-gutter+15;
        }

        .page-sidebar, .page-copy {
            padding: $mobile-gutter+15;
        }

        .page-sidebar {
            order: 2;
            padding-top: 0px!important;
        }

        .page-copy {
            order: 1;

            ul {
                margin-left: 0px!important;
            }
        }
    }
}