/* -- VARIABLES -- */

/* BRAND COLORS */

$blue: #2e3f8d;
$dark-blue: #262559;
$teal: #31aadf; 
$gray: #e7e7e8;
$text-purple: #9493b0;
$copy-color: #819298;
$light-gray: #f5f5f5;
$form-gray: #f2f4f4;

/* FONTS */

$bebas: 'BebasNeueBook';
$museo: 'MuseoSans';

/* LAYOUT */

$gutter: 73px;
$lineheight: 1.666rem;
$borderonwhite: rgba(129,146,152, 0.3);
$mobile-gutter: 30px;

