@import "../layouts/index.scss";

// .navbar {
//     z-index: 2!important;
// }

// .navbar-blue {
//     height: 50%!important;
// }

// .navbar-teal {
//     height: 50%!important;
// }

.page-header {
    background-color: $blue;
    height: 436px;
    width: 100%;
    padding: 146px 0px;
    color: white;
    z-index: 2;
    overflow: hidden;
    border-right: 73px solid transparent;
    
    h1 {
        font-size: 50px;
    }

    h1,header {
        animation-delay: 500ms;
		animation-name: spokeEnter;
		animation-timing-function: cubic-bezier(.45,0,.47,1);
		animation-duration: 1000ms;
		animation-fill-mode: both;
    }

    .page-header-text {
        padding-left: $gutter;
    }
    
    .bebas {
        text-decoration: none;
        border: 0px;
        margin: 0px;
    }

    .page-circular-header {
        width: 565px!important;
        height: 570px;
        background-color: white;
        padding: 0px;
        margin: 0;
        border-top-left-radius: 800px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: absolute!important;
        margin-top: -215px;
        z-index: 4;
        top: 436px;
        right: 0px;
        border-right: $gutter solid $teal;

        img {
            width: 50px;
            margin-left: 330px;
            margin-top: 142px;
        }
    }
}

.page-content {
    padding: $gutter * 2 0px;
    z-index: 4;
    position: relative;
    border-right: $gutter solid $teal;
    
    .page-link-container {
        padding: 0px $gutter 0px $gutter;
        .page-accordion-link {
            border-bottom: 1px solid $borderonwhite;
            padding-bottom: 14px;
            margin-top: 20px;

            a {
                font-family: $bebas;
                color: $blue;
                letter-spacing: 2px;

                span {
                    color: $teal;
                }
            }

            button {
                float: right;
                background-color: #f2f4f4;
                color: $copy-color;
                font-size: 16px;
                border: 1px solid #e5e5e5; 
                padding: 9px 20px;

                span {
                    color: $teal;
                }
            }
        }
    }

    .page-sidebar {
        padding: $gutter;

        .page-sidebar-image {
            height: 240px;
            width: 100%;

        }

        header {
            color: $blue;
            border-bottom: 1px solid $copy-color;
            margin-top: $gutter - 30px;
        }

        h3 {
            color: $teal;
        }

        .phone-numbers {
            p {
                font-size: 16px;
                color: $blue;
                margin-bottom: 0px;
                span {
                    color: $copy-color;
                }
            }

            .phone-department {
                margin-bottom: 20px;
                p {
                    line-height: 32px;
                }
            }
        }

        &.contact {
            h3 {
                font-size: 24px;
            }
        }
    }

    .page-copy {
        padding: 60px;

        h1 {
            font-size: 50px;
            color: $teal;
        }

        ul {
            list-style: none;
            font-family: $museo;
            font-size: 24px;
            color: $blue;

            li {
                margin-left: 14px;
                &:before {
                    content: '›';
                    position: absolute;
                    height: 24px;
                    margin-left: -14px;
                }
            }
        }
    }

    &.research {
        padding: 73px 0px!important;
    }
}