@import '../layouts/index.scss';

.topbar {
	height: 73px;
	width: 100%;
	background-color: $blue;
	position: absolute;
	z-index: 6;

}

#home-page {
	section {
		border-right: 73px solid $teal;
	}
}

.height-position {
	font-family: $bebas;
	font-size: 18px;
	text-align: right;
	color: rgba(255,255,255,0.5);
	letter-spacing: 2px;
	position: fixed;
	top: 116px;
	z-index: 10;
	margin-bottom: 20px;
	span {
		border-bottom: 1px solid $text-purple;
		width: 73px;
		padding-left: 30px;	
		padding: 20px 0px;
		display: block;
		&:last-of-type {
			border-bottom: 0px;
		}
	}
}

.scroll-jack-active {
	opacity: 1!important;
	h4 {
		animation-delay: 0ms;
		animation-name: spokeslideinRight;
		animation-timing-function: ease-in-out;
		animation-duration: 1000ms;
		animation-fill-mode: forwards;
	}

	h1 {
		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
			  animation-delay: 50ms * $i;
			  animation-name: spokeslideinRight;
			  animation-timing-function: ease-in-out;
			  animation-duration: 1000ms;
			  animation-fill-mode: forwards;
			}
		}
	}
	
}

.scroll-jack-inactive {
	h1, h4 {
		animation-delay: 0ms;
		animation-name: spokeLeave;
		animation-timing-function: ease-in-out;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
	}

}

.point-up {
	transform: rotate(-180deg);	
}

.height-feet-labels {
	position: absolute;

	p {
		font-family: $bebas;
		font-size: 18px;
		color: $text-purple;
		padding-left: 30px;
		letter-spacing: 2px;
		width: 73px;
		top: 180px;
		z-index: 10;
		border-bottom: 1px solid $text-purple;
		position: absolute; 
		
		&.first-number {
			top: 180px;
		}

		&.second-number {
			top: 839px!important;
		}
		&.third-number {
			top: 1497px!important;
		}
		&.fourth-number {
			top: 2318px!important;
		}
	}


}

.react-reveal {
	opacity: 0;
	z-index: 2;
}

.wrapper {
	display: flex;
	flex-flow: row;
	flex: 1;
	min-height: 100vh;	
}

.scroll-icon {
	width: 73px;
	bottom: 73px;
	left: 50%;
	margin-left: -36px;
	position: fixed;
	z-index: 3;
	transition: opacity 500ms ease-in-out;
	animation: 1200ms ease-in-out 0s infinite normal both running spokeScrollBounce;
	opacity: 0.5;
	cursor: pointer;

	&:hover {
		animation-play-state: paused;
		opacity: 1;
	}

	&.hidden {
		opacity: 0;
		transition: all 1000ms ease-in-out;
		z-index: 0;
	}
}

section.top {
	background-color: $blue;
	height: 2874px;
	padding: 0px 128px;

	h1 {
		color: white;
		line-height: 62px;
		font-size: 50px;
		margin-bottom: 0px;
		

		&.cascading-text {
			animation-name: spokeslideinRight;
			@for $i from 1 through 4 {
			    &:nth-of-type(#{$i}) {
			       animation-delay: .2s * $i;
			    }
			}
			animation-duration: .8s;
			animation-fill-mode: forwards;
		}
	}

	
	h4 {
		font-family: $bebas;
		font-size: 16px;
		letter-spacing: 4px;
		color: white;
		margin-bottom: 15px;
	}

	.heading {
		padding: 146px 0px 200px 0px;
		position: fixed!important;
		top: 0!important;
		z-index: 0;
		
		&.second-heading {
			right: 180px;
			opacity: 0;
			transition: all 500ms ease-in-out;
		}

		&.third-heading {
			opacity: 0;
			transition: all 500ms ease-in-out;
		}

		h4, h1 {
			opacity: 0;
		}
	}

	.branding-color {
		width: 295px;
		margin: 354px 160px 0px 0px;
		float: right;
	}
}

section.height-press-releases {
	padding: 146px 0px;
	height: auto;

	.height-press-featured {
		padding: 0px 75px;

		.height-featured-image {
			cursor: pointer;

			img {
				margin-bottom: 73px;
			}
		}

		.icon-play {
			width: 75px;
			position: absolute;
			top: 0px;
			left: 75px;
		}
		p {
			font-size: 16px;
			line-height: 28px!important;
		}

		
	}

	.height-press-executive {
		padding: 0px 75px;
	}

	header {
		color: #2e3f8d;
		border-color:rgba(129,146,152, 0.3);
	}

	.executive-featured-image {
		height: 253px;
		margin-bottom: 73px;
		overflow: hidden;

		span {
			font-family: 'MuseoSans';
			font-size: 50px;
			color: white;
			display: block;
			position: absolute;
			top: 120px;
			padding: 30px 60px;

			&.exec-subtitle {
				font-size: 18px;
				font-family: "BebasNeueBook";
				letter-spacing: 4px;
				margin-bottom: 30px;
				position: absolute;
				text-transform: uppercase;
				top: 90px;
				margin-left: 5px;
			}
		}
	}

	h3 {
		line-height: 37px;
		color: #31aadf;
		margin-top: 30px;
	}
	h4 {
		font-family: 'BebasNeueBook';
		font-size: 16px;
		letter-spacing: 4px;
		margin-bottom: 15px;
	}
}


section.cta {
	background-color: white;
	height: auto;
	width: 100%;
	position: relative;
	padding: 120px 0px;
	z-index: 4;

	.cta-left {
		.cta-links {
			list-style: none;
			margin-left: 0px; 
			padding-left: 61px;
			
			li {
				font-family: $bebas;
				font-size: 18px;
				letter-spacing: 4px;
				color: $dark-blue;

				padding: 25px 0px;
				border-bottom: 1px solid rgba(129,146,152, 0.3);
				margin: 0px;


				&.last-type {
					border-bottom: 0px!important;
				}
			}
			
		}
		
		.cta-link {
			font-family: $museo;
			font-size: 24px;
			margin-left: 61px;
			color: $teal!important;
			transition: all 500ms ease-in-out;

			&:hover {
				color: $blue!important;
			}
		}
	}

	.cta-right {
		padding: 0px 75px;
		h1 {
			font-size: 50px;
			color: $teal;
		}

		p {
			font-size: 20px;
			color: $copy-color;
			line-height: 39px;
			font-weight: 200;
		}
	}
}




.third-heading {
	padding-bottom: 1000px!important;
}

.monument-height {
	z-index: 2;
    position: absolute!important;
    top: 2284px;
}

.height-number-fixed {
	position: absolute;
	top: 2254px!important;
}

.circular-heading {
	width: 80%!important;
	height: 1000px;
	width: 1000px!important;
    background-color: white;
    padding: 0px;
    margin: 0;
    border-top-left-radius: 2000px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute!important;
    right: 0px;
	margin-top: -420px;
	z-index: 4;
	bottom: 0px;
	top: 2840px;
	border-right: $gutter solid $teal;
}

@keyframes spokeslideinRight {
	0% {opacity: 0; transform: translateX(100%)}
	100% {opacity: 1; transform: translateX(0%)}
}

@keyframes spokeslideinLeft {
	0% {opacity: 0; transform: translateX(-100%)}
	100% {opacity: 1; transform: translateX(0%)}
}

@keyframes spokeLeave{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes spokeEnter{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes spokeScrollBounce{
	0% {transform: translateY(0%)}
	50% {transform: translateY(15%)}
	100% {transform: translateY(0%)}
}

