@import '../layouts/index.scss';

.topbar {
	height: 100px;
	width: 100%;
	background-color: $blue;
	position: absolute;
	z-index: 3000;

}

.wrapper {
	display: flex;
	flex-flow: row;
	flex: 1;
	min-height: 100vh;	
}

section.top {
	background-color: $blue;
	height: auto;
	padding: 40px;

	h1 {
		color: white;
		line-height: 25px;
		font-size: 44px;
		opacity: 0;
		

		&.cascading-text {
			animation-name: spokeslideinRight;
			@for $i from 1 through 4 {
			    &:nth-of-type(#{$i}) {
			       animation-delay: .2s * $i;
			    }
			}
			animation-duration: .8s;
			animation-fill-mode: forwards;
		}
	}

	
	h4 {
		font-family: $bebas;
		font-size: 16px;
		letter-spacing: 4px;
		color: white;
	}

	.heading {
		padding: 200px 0px 200px 0px;
	}

	.branding-color {
		width: 300px;
		margin: 120px 160px 0px 0px;
		float: right;
	}
}

section.height-press-releases {
	padding: 80px 0px;
	height: auto;

	.height-press-featured {
		padding: 0px 60px;

		.height-featured-image {
			cursor: pointer;
		}

		.icon-play {
			width: 75px;
			position: absolute;
			top: 0px;
			left: 60px;
		}
		p {
			font-size: 17px;
			line-height: auto;
		}
	}

	.height-press-executive {
		padding: 0px 60px;
	}

	header {
		color: #2e3f8d;
		border-color: #2e3f8d;
	}
	.executive-featured-image {
		span {
			font-family: 'MuseoSans';
			font-size: 50px;
			color: white;
			display: block;
			position: absolute;
			top: 140px;
			padding: 60px;
		}
	}

	h3 {
		line-height: 37px;
		color: #31aadf;
		margin-top: 30px;
	}
	h4 {
		font-family: 'BebasNeueBook';
		font-size: 16px;
		letter-spacing: 4px;
		margin-bottom: 15px;
	}
}


section.cta {
	background-color: white;
	height: auto;
	width: 100%;
	position: relative;
	padding: 120px 0px;
	z-index: 2;

	.cta-left {
		.cta-links {
			list-style: none;
			
			li {
				padding: 25px 0px;
				border-bottom: 1px solid $dark-blue;
				margin: 0px;

				a {
					font-family: $bebas;
					font-size: 18px;
					letter-spacing: 4px;
					color: $dark-blue;
				}

				&:last-of-type {
					border-bottom: 0px;
				}
			}
			
		}
		
		.cta-link {
			font-family: $museo;
			font-size: 24px;
			margin-left: 1.666rem;
			
		}
	}

	.cta-right {
		padding: 0px 75px;
		h1 {
			font-size: 50px;
			color: $teal;
		}

		p {
			font-size: 20px;
			color: $copy-color;
			line-height: 39px;
			font-weight: 200;
		}
	}
}




.third-heading {
	padding-bottom: 1000px!important;
}

.circular-heading {
	width: 80%!important;
    height: 1000px;
    background-color: white;
    padding: 0px;
    margin: 0;
    border-top-left-radius: 2000px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute!important;
    right: 0px;
	margin-top: -420px;
	z-index: 2;
	border-right: 75px solid $teal;
}

@keyframes spokeslideinRight {
	0% {opacity: 0; margin-left: 60px;}
	100% {opacity: 1; margin-left: 0px;}
}

