@import "../layouts/index.scss";

section.height-feed {
	height: auto;
	background: linear-gradient(to right, $blue 20%, $teal 80%);
    background-color: $teal;
    z-index: 4;
    overflow: hidden;
	position: relative;

	.feed-left {
		background-color: $dark-blue;
		height: auto;

		.feed-sidebar {
			padding: 73px 60px;
			
			ul {
				list-style: none;
				margin: 0px;

				li {
					margin-bottom: 5px;
				}
				a {
					font-family: $museo;
					font-size: 24px;
					color: white;
					cursor: pointer;
					&:hover {
						color: rgba(255,255,255,0.5)!important;
					}
					&.active {
						color: $teal;
					}
				}
			}
			
		}
	}

	.feed-right {
		background-color: $teal;	
	}

	.team-feed {
		padding: 73px 75px 60px 60px;
		position: absolute;

		.team-feed-profile {
			text-align: center;
			color: $blue;

			a {
				font-family: $bebas;
				letter-spacing: 4px;
				color: white;

				&:hover {
					color: $blue!important;
				}
			}
		}

		.team-feed-copy {
			
			p {
				color: white;
			}

			.team-feed-nav {
				img {
					width: 36px;
					margin-right: 20px;
				}

				a {
					opacity: 0.5;
					transition: all 500ms ease-in-out;

					&:hover {
						opacity: 1;
					}
				}

				.icon_forward {
					transform: rotate(180deg);
				}

			}

		}

	}
}

	
	


	.background-enter {
		transform: translate(100%);
		opacity: 0;
	}

	.background-enter.background-enter-active {
		transform: translate(0%);
		transition: all 400ms ease-in-out 400ms;
		opacity: 1;
	}

	.background-leave {
		transform: translate(0%);
		opacity: 1;
		transition: all 400ms ease-in-out 400ms;
	}

	.background-leave.background-leave-active {
		transform: translate(100%);
		opacity: 0;
		transition: all 400ms ease-in-out;
	}