@import "../layouts/index.scss";

section.height-feed {
	height: auto;
    background-color: $teal;
    z-index: 100;
    overflow-x: hidden;

	.feed-left {
		background-color: $dark-blue;
		height: auto;

		.feed-sidebar {
			padding: 60px 50px;
			
			ul {
				list-style: none;
				margin: 0px;

				li {
					margin-bottom: 5px;
				}
				a {
					font-family: $museo;
					font-size: 24px;
					color: white;
					cursor: pointer;
				}
			}
			
		}
	}

	.feed-right {
		background-color: $teal;	
	}

	.team-feed {
		padding: 60px;

		.team-feed-profile {
			text-align: center;
			color: $blue;

			a {
				font-family: $bebas;
				letter-spacing: 4px;
				color: white;

				&:hover {
					color: $blue!important;
				}
			}
		}

		.team-feed-copy {
			
			p {
				color: white;
			}

		}

	}
}

.example-enter {
    opacity: 0;
    left: 200px;
    transition: opacity 500ms ease-in-out 2000ms;
  }
  
  .example-enter.example-enter-active {
	opacity: 1;
    transition: opacity 500ms ease-in-out 2000ms;
    left: 0px;
    
  }
  
  .example-leave {
    opacity: 0;
    left: 0px;
    transition: opacity 200ms ease-in-out;
  }
  
  .example-leave.example-leave-active {
	opacity: 0;
    transition: opacity 300ms ease-in-out;
    left: 140px;
  }

  .example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
	}
	
	


	.background-enter {
		transform: translate(100%);
		opacity: 0;
		position: absolute;
	}

	.background-enter.background-enter-active {
		transform: translate(0%);
		transition: transform 400ms ease-in-out 400ms;
		opacity: 1;
	}

	.background-leave {
		transform: translate(0%);
		position: absolute;
	}
	.background-leave.background-leave-active {
		transform: translate(100%);
		transition: transform 400ms ease-in-out;
	}